<br><center><h3> Connexion </h3></center><br>


<center>
	<%= form_for sessions_path do |f| %>
		<div class='form-group'>
	  		<%= f.text_field :email, placeholder: 'Email', class:'form_control' %>
	  	</div>
		<div class='form-group'>
	  		<%= f.text_field :password, type: 'password', placeholder: 'Password', class:'form_control' %>
	  	</div>
	  	<div class='form-group'>
			<%= f.label :remember_me, class: "checkbox inline" do %>
				<%= f.check_box :remember_me %>
				<span>Remember me on this computer</span>
			<% end %>
		</div>
		<div class='form-group'>
	  		<%= f.submit "Connexion" %>
		</div>
	<% end %>
</center>