<br><% if @potin.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Erreur!</h4>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>  <ul>
    <% @potin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <hr>
  <p class="mb-0">Veuillez reesayer, suivre les consignes et rester patient.</p>
</div>
<% end %>


<div class="d-flex flex-column align-items-center">
<h1>Cree un THPotin !</h1><br>

	<%= form_tag(potins_path) do -%>
	<center><div class='mt-auto'><%= text_field_tag 'Potin_title', nil, placeholder: 'Titre' %>      
    </div><br></center>
	<div><%= text_area_tag 'Potin_text', nil, placeholder: 'Raconte moi tout...', size: "50x10" %></div><br>
  <center><p>Ajoute un #tag :</p></center>
  <center><%= select_tag 'Tag', options_for_select(@tag, nil), prompt: "Ctrl+click : multiple", multiple: true, size: 5 %></center><br>
  <center><div class='mt-auto'><%= submit_tag 'Creer' %></div></center>
	<% end -%>
</div>