<% @lepotin = @potins[params[:id].to_i - 1] %>
<br>
<div class="jumbotron">
	<div><h3 class="text-dark font-weight-bold"> Profil Potin <%= @lepotin.id %>:</h3>
		<h5 class="display-20"><strong>Title : </strong><u><%= @lepotin.title %></u></h5></div>
		<span class="lead"><br><%= @lepotin.content %></span>
		<hr class="my-4">

		<div class="badge badge-primary text-wrap" style="width: 6rem;"><strong> Auteur : </strong> <%= @lepotin.user.first_name %>
		</div>
<%= link_to @lepotin.user.first_name, users_path(@lepotin.id, @lepotin.user.first_name), class:"alert-link" %>
	<div class="d-flex flex-row-reverse">
		<a class="btn btn-primary btn-sm" href="..//edit" role="button">Editer le potin</a></div>
	</div>














