

 <% if flash[:alert] %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Erreur!</h4>
  <p>Nous n'avons pas réussi à créer le commentaires pour la (ou les) raison(s) suivante(s) :</p>  <ul>
    Veuillez ecrire un commentaire
  </ul>
    <hr>
  <p class="mb-0">Veuillez reesayer, suivre les consignes et rester patient.</p>
</div>
<% end %>


<div class="jumbotron">
	<div>				
		<h3 class="text-dark font-weight-bold d-flex justify-content-between"> 
			<p>Potin Nr. <%= @lepotin.id %>: </p>
			<span>
				<% if current_user.potins.include? (@lepotin) %>

				<p><%= link_to "Editer le potin", edit_potin_path, class:"btn btn-primary btn-sm", role:"button"  %>
				<%= link_to "", potin_path, class:"btn btn-primary btn-md fas fa-times", role:"button", :data => {:confirm => "You sure?", :method => "delete"} %></p>
				<% end %>
			</span>
		</h3>

		<h5 class="display-20"><u><%= @lepotin.title %></u></h5>
		<span class="lead"><br><%= @lepotin.content %></span>

		<div class='d-flex'>			
		</div>
		

		<%= link_to likes_path(@lepotin.id), method: :post, class:"btn btn-primary btn-sm", role:"button" do %>	
			<div class="badge badge-primary text-wrap margin" style="width: 4rem;"><%= @lepotin.likes.size.to_s %>
			<% if @lepotin.likes.size <2 %>like	<% else %>likes <% end %> <i class="fas fa-thumbs-up"></i></div>
		<% end %>


		<div class="d-flex justify-content-end">
			<div>
				<% @lepotin.tags.each do |tag| %>
				<div class="badge badge-primary text-wrap margin" style="width: 4rem;	"><%= "##{tag.title}" %>
				</div>
				<% end %>
			</div>
		</div>

		<hr class="my-4">
		<div class="badge badge-primary text-wrap" style="width: 6rem;"><%= link_to "Auteur : #{@lepotin.user.first_name}", potin_user_path(@lepotin.id, @lepotin.user.first_name), class:"text-white" %>
		</div>
		<div class="badge badge-primary text-wrap" style="width: 6rem;"><%= link_to "City : #{@lepotin.user.city.name}", city_path(@lepotin.user.city.id), class:"text-white" %>
		</div>
	</div>
</div>
<!--------------------------------AJOUT COMMENTAIRES --------------------------------------------->   
<div class="card">

	<div class="card-header", style="background-color: #e9ecef;">
		Balance ton comment : 
	</div>

	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<div class='d-flex justify-content-center align-item-center'>
				<%= form_tag(potin_comments_path(params[:id])) do -%>
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<div><%= text_area_tag 'Comment_text', nil, placeholder: 'Raconte moi tout...', size: "40x4" %></div><br>
					<div class='mt-auto'><%= submit_tag 'Commenter' %></div>
				<% end -%>
			</div>
			<footer class="blockquote-footer">Lache toi mon vieux ! <cite title="Source Title">par l'admin de THPotin</cite>
			</footer>
		</blockquote>
	</div>

</div>

<!-------------------------------------COMMENTAIRES---------------------------------------->   
<div>

	<% @lepotin.comments.each do |comment| %><br>
	<div class="card">
		<div class="card-header d-flex justify-content-between", style="background-color: #e9ecef;">
			<span>Commentaire de <%= comment.user.first_name %></span>
			<span>
				<% if current_user.comments.include? (comment) %>
					<%= link_to "Editer", edit_comment_path(comment.id), class:"btn btn-primary btn-sm", role:"button"  %> 
				<% end %>
			</span>
		</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p><%= comment.content %></p>

				<div class="d-flex justify-content-between">
					<div class='blockquote-footer align-self-start'><%= comment.created_at.to_s[0..-13] %> - <cite title="Source Title"><%= comment.user.first_name %> <%= comment.user.last_name %></cite>
					</div>

					<div>
						<%= link_to likes_path(:monparams => { :potin_id => @lepotin.id, :comment_id => comment.id }), method: :potin_user_path, role:"button" do %>
							<%= comment.likes.size.to_s %> <i class="fas fa-thumbs-up"></i>
						<% end %>
					</div>		
         		</div>
			</blockquote>
		</div>
	</div>
	<% end %>      

</div>









