
  <% if flash[:alert] %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Erreur!</h4>
  <p>Nous n'avons pas réussi à créer l'user pour la (ou les) raison(s) suivante(s) :</p>  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
    <hr>
  <p class="mb-0">Veuillez reesayer, suivre les consignes et rester patient.</p>
</div>
<% end %>


<div class='d-flex-column justify-content-center align-items-center'>
<br><br>
<center><h2>C'est quoi ton nom ?!</h2><br>


  <%= form_for '/' do -%>

  <div class='mt-auto'>
      Ville : <%= select_tag 'city', options_for_select(@city, nil) %>      
  </div><br>

  <center>
    <div class='mt-auto'><%= text_field_tag 'first_name', nil, placeholder: 'Prenom' %>
    </div><br>
  </center>

  <center>
    <div class='mt-auto'><%= text_field_tag 'email', nil, placeholder: 'Email@thp.com' %>
    </div><br>
  </center>
  

  <center>
    <div class='mt-auto'><%= text_field_tag 'password', nil, type:'password', placeholder: 'Ton password' %>
    </div><br>
  </center>
  
  <center>
    <div class='mt-auto'><%= text_field_tag 'password_confirmation', nil, type:'password' ,placeholder: 'Encore' %>
    </div><br>
  </center>
  


  <div><%= text_area_tag 'description', nil, placeholder: 'Parle moi de toi...', size: "50x10" %>
  </div><br>

  <center>
    <div class='mt-auto'><%= submit_tag 'Enregistrer' %></div>
  </center>
  <% end -%>

<br><br><br><br><br><br><br>
</div>

