<h1>Welcome <%= @name %></h1>
<p>Hey salut <%= @name %> ! Bienvenue sur THE site de potins. <span class='font-weight-bold'>Eclate toi et viens cracher sur tes copains !</span></p>

<div>
	<% @potins.each do |potin| %>
<div class="card text-center">
  <div class="card-header">
    par <%= potin.user.first_name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= potin.title %></h5>
    <p class="card-text"></p>
    <%= link_to "Voir le potin", potins_path(potin.id), class:"btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    <%= potin.date.to_s[0..-13] %>
  </div>
</div>
<br>
	<% end %>         
</div>
