<center><h3>Les villes presentes sur THPotin</h3></center>




<% @cities.each do |city| %>
	<%= link_to city_path(city.id), class:"list-group-item list-group-item-action" do %>
	<div class="list-group">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1"><%= city.name %></h5>
			<small>Code postal : <%= city.zip %></small>
		</div>

		<p class="mb-1 font-italic">
			<% if city.users.blank? || city.users.first.potins.blank? %>
				Pas encore de potins dans cette ville			
			<% else %> 
				<%= city.users.first.potins.first.title %>
			<% end %></p>
			<% if city.users.blank? || city.users.first.potins.blank? %>
		<footer class="blockquote-footer">Aucun Geek <cite title="Source Title">in <%= city.name %></cite></footer>
		<% else %>
		<footer class="blockquote-footer">Geek in <%= city.users.first.first_name %><cite title="Source Title">in <%= city.name %></cite></footer>
		<% end %>
		<% list_post = [] %>
		<% city.users.each do |user| %>
			<% user.potins.each do |potin| %>
				<% list_post << potin %>
			<% end %>
		<% end %>

		<small><%= list_post.size %> potins <%= ',' unless city.users.blank? %><%= city.users.size && 'users' unless city.users.blank? %></small>
	</div>
	<% end %>
<% end %>